html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
a{
  text-decoration: none;
  color: white;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*===================
=======Начало========
*/

body{
  overflow: hidden;
  background-color:black;
  height: 100vh;
  transition:background-color .5s linear;
}
body.game{
  overflow: initial;
  font-family: 'Roboto', sans-serif;
  color: white;
  height: fit-content;
  font-size: 22px;
  background-color: rgb(45, 45, 45);
}
* {
  box-sizing: border-box;
}

html, body.game {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Приветствие */
.greeting__item{
  font-family: 'Press Start 2P', cursive;
  color:rgb(249, 189, 59)
}
.greeting{
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
}
.greeting.active{
  display: flex;
}
.cap_1,
.cap_2,
.cap_3{
  display: none;
  max-width: 50%;
  text-align: center;
}
.cap_1.active,
.cap_2.active,
.cap_3.active{
  display: block;
  animation: greet_animation 2s linear;
  animation-fill-mode: forwards;
}
@keyframes greet_animation{
  0%{
    opacity:0.1;
    transform: scale(1);
  }
  100%{
    opacity:1;
    transform: scale(2);
  }
}
/* Шапка */
.header h1{
  font-size: 60px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color:rgb(249, 189, 59);
}
.header{
  word-wrap: normal;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000;
}
/* Заголовок */
.subtitle{
  margin-top: 40px;
}
.subtitle__item1{
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}
.subtitle__item2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.player__choice,
.computer__choice{
  font-size:100px;
  color:rgb(156, 156, 156);
  max-height: 200px;
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.choice{  
  margin: 60px auto 50px auto;
  max-width: 700px;
  display: flex;
  justify-content: space-around;
}
.player__score,
.computer__score{
  font-size: 30px;
  text-align: center;
}
/* Кнопки */
.buttons{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.btn{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
  width: 130px;
  height: 150px;
  margin: 0 10px;
  font-size: 100px;
}
/* Модальное окно */
.winner-modal{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(20,20,20,0.9);
  display: none;
}
.winner-modal__inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 400px;
  height: 200px;
  background-color: rgb(57, 56, 63);
  opacity: 1;
  border-radius: 20px;
}
.winner{
  font-size: 40px;
  text-align: center;
  margin-bottom: 25px;
}
.modal__reset{
  cursor: pointer;
  font-size: 15px;
  width: 170px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(97, 97, 97);
  border:none;
  color:#fff;
}
.winner-modal.active{
  display: block;
}
@media (max-width:576px) {
  .choice{
    margin: 20px 0 20px 0;
  }
  .header h1{
    font-size: 1.5em;
  }
  .btn{
    width: 100px;
    height: 100px;
    font-size: 60px;
  }  
  .player__score,
  .computer__score{
    font-size: 20px;
  }
  .subtitle__item1{
    font-size: 1.5em;
  }
  .subtitle__item2{
    font-size: 1em;
  }
  .player__choice,
  .computer__choice{
    font-size: 80px;
  }
  .winner{
    font-size: 30px;
  }
  .buttons{
    padding-bottom: 30px;
  }
}
* {
  box-sizing: border-box;
}

